<div>
    <h2>
        <span>Trip Awards</span>
        <button class="btn btn-primary float-right jh-create-entity create-trip-award" [routerLink]="['/', { outlets: { popup: ['trip-award-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Trip Award
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tripAwards">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Description</span></th>
            <th><span>Points</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tripAward of tripAwards ;trackBy: trackId">
                <td><a [routerLink]="['../trip-award', tripAward.id ]">{{tripAward.id}}</a></td>
                <td>{{tripAward.name}}</td>
                <td>{{tripAward.description}}</td>
                <td>{{tripAward.points}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../trip-award', tripAward.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trip-award/'+ tripAward.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trip-award/'+ tripAward.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
